@media (min-width: 768px) {
    #hero .hero-container p {
        margin-left: 40px;
        opacity: 0;
        transition: margin 1s, opacity 1s;
    }
    #hero .hero-container h1 {
        margin-left: -40px;
        opacity: 0;
        transition: margin 1s, opacity 1s;
    }
    #hero.animate .hero-container p {
        opacity: 1;
        margin-left: 0;
    }
    #hero.animate .hero-container h1 {
        opacity: 1;
        margin-left: 0;
    }

    #highlights .card p, 
    #highlights .card h3, 
    #highlights .card a {
        opacity: 0;
        margin-left: 6px;
        transition: margin 1s, opacity 1s;
    }
    #highlights .card h3 { transition-delay: 0.2s; }
    #highlights .card p { transition-delay: 0.4s; }
    #highlights .card a { transition-delay: 0.6s; }
    #highlights.animate .card p, #highlights.animate .card h3, #highlights.animate .card a {
        opacity: 1;
        margin-left: 0;
    }
    #highlights .card.card--provided,
    #highlights .card.card--projects,
    #highlights .card.card--about {
        background-position-y: -120px ;
        transition: all 1.4s;
        transition-delay: 0.5s;
    }

    #highlights.animate .card.card--projects {
        background-position: 0px top;
    }
    #highlights.animate .card.card--provided {
        background-position: 8px top;
    }
    #highlights.animate .card.card--about {
        background-position: 0px top;
        background-size: 62px auto;
    }

}