
@import "style.css";
@import "header.css";
@import "footer.css";

.cookie-container main {
    box-sizing: border-box;
    color: var(--black);
    padding: 0 20px;

    h1 {
        font-size: 2rem;
        border-bottom: 3px solid var(--red);
        padding-bottom: 6px;
    }
    h2 {
        font-size: 1.3rem;
    }
}


@media (min-width: 768px) {
    .cookie-container {

        #page-container {
            position: relative;
            min-height: calc(100vh - 87px);
        }
        main {
            max-width: var(--maxwidth);
            margin: auto;
            padding: 0 20px 94px 20px;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: calc(100% - 40px);
        }
    }
    
}