.projects-container #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
    line-height: 0;
}
.projects-container #gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 8px solid #fff;
    box-sizing: border-box;
    -webkit-transition : border-color 250ms ease-out;
    -moz-transition : border-color  250ms ease-out;
    -o-transition : border-color  250ms ease-out;
    transition : border-color 250ms ease-out;
}

.gallery-open {
    overflow: hidden;
}
#modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000051;
    top: 0;
    left: 0;
    z-index: 9000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
#modal .wrapper {
    display: grid;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    max-height: calc(100vh - 40px);
    grid-template-rows: calc(100% - 100px) 100px;
    position: relative;
}
#modal .wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-holder {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.image-description p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#closeGallery {
    position: absolute;
    width: 100%;
    height: 120px;
    display: grid;
    justify-content: right;
    cursor: pointer;
}
#closeGallery::after {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    background-color: var(--red);
    border: #fff solid 3px;
    background-image: url(../images/icon-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: -15px;
    -webkit-transition : all 150ms ease-out;
    -moz-transition : all  150ms ease-out;
    -o-transition : all 150ms ease-out;
    transition : all 150ms ease-out;
}
#closeGallery:hover::after, .image-holder #previous:hover::after, .image-holder #next:hover::after  {
    background-color: #33a7ef;
}
#closeGallery:active::after, .image-holder #previous:active::after, .image-holder #next:active::after  {
    background-color: #33a7ef;
    border-color: #33a7ef;
}
.image-holder #previous, .image-holder #next {
    width: 40%;
    display: flex;
    height: 100%;
    position: absolute;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.image-holder #next {
    right: 0;
    justify-content: right;
}
.image-holder #previous::after {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    background-color: var(--red);
    border: #fff solid 3px;
    background-image: url(../images/icon-previous.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
}
.image-holder #next::after {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    background-color: var(--red);
    border: #fff solid 3px;
    background-image: url(../images/icon-next.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
}
#galleryImageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
@media (min-width: 1000px) {
    #modal .wrapper {
        grid-template-columns: auto 300px;
        grid-template-rows: unset;
    }
}
@media (min-width: 768px) {
    .image-description p {
        overflow: visible;
        display: unset;
    }
    #modal .wrapper img {
        max-height: 700px;
        width: unset;
    }
    .projects-container #gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .projects-container #gallery img:hover {
        border-color: var(--red);
    }
}