.hero {
    background-color: var(--grey);
    display: flex;
    justify-content: center;
}
.hero-container {
    padding: 20px;
    color: #fff;
    min-height: calc(70vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/schematic-white.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    max-width: var(--maxwidth);
    box-sizing: border-box;
    padding-bottom: 70px;
}
.hero h1 span {
    color: var(--red);
}
.hero p {
    line-height: 1.6;
}
.hero a {
    background-color: var(--red);
    color: #fff;
    font-size: 1.4em;
    padding: 14px 12px;
    text-decoration: none;
    display: block;
    text-align: center; 
    border-radius: 6px;
}
@media (min-width: 768px) {
    .hero h1, .hero p {
        max-width: 58%;
    }
    .hero-container {
        height: 600px;
        align-items: flex-start;
        background-size: unset;
        padding-bottom: 20px;
    }
    .hero-container::after {
        content: "";
        display: block;
        height: 600px;
        width: 48%;
        background-image: url(../images/header.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
    }
}