#hero {
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    height: 90vh;
    background-image: url('../images/hero/white-on-black-schematic.svg');
    background-repeat: no-repeat;


    .hero-container {
        color: #fff;
        display: flex;
        justify-content: center;
        max-width: var(--maxwidth);
        padding: 30px 0;

        .hero-content {
            padding: 0 20px 20px 20px;

            h1 {
                margin-bottom: 30px;
            }
            ul {
                font-size: 1.4rem;
                line-height: 1.9rem;
                padding-left: 20px;

                li {
                    margin-bottom: 16px;
                }
            }
            .cta {
                display: flex;
                width: 100%;
                gap: 30px;
                
                .services {
                    text-align: center;
                    display: block;
                    width: 100%;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: none;
                    position: relative;
                    border-bottom: 4px solid var(--red);
                    padding: 12px 0px 12px 0;
                    font-size: 1.25rem;
                }
            }
        }

        .images {
            display: none;  
            overflow: hidden;
            padding: 20px 0px;

            img {
                display: block;
                width: 100%;

                object-fit:cover;
                border: 6px solid var(--red);
                box-shadow: 1px 1px 23px #000;
                border-radius: 250px;
                margin: 0 5px;
            }

            .lower {
                display: none;
            }
        }
    }
}
@media (min-width: 768px) {
    #hero {
        margin-top: 60px;
        background-position: calc(50% - 470px);
        height: 580px;

        .hero-container {

            .hero-content {
                z-index: 1;
                padding: 0px 30px 0 30px;

                h1 {
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 40px;
                }

                .cta {

                    align-items: center;
                    gap: 20px;
                    width: unset;
                    margin-top: 30px;

                    .services {
                        padding: 12px 50px 12px 0;
                        width: unset;
                    }
                    .services::after {
                        background: url('../images/hero/arrow.svg') no-repeat center center;
                        content: "";
                        position: absolute;
                        display: block;
                        right: 0;
                        width: 40px;
                        height: 100%;
                        top: 0;
                    }


                }
            }
            .images {
                display: flex;
                overflow: hidden;
                width: 60%;

                img {
                    width: 250%;
                    height: 100%;
                }
            }
        }
        
    }
}
@media (min-width: 1024px) {
    #hero {
        min-height: 630px;  
        overflow: hidden;
        
         .hero-container {  
            align-items: flex-start;
            justify-content: left;
            align-items: center;
            flex-flow: row;
            padding: 20px 20px 20px 20px;

            .hero-content {
                width: 70%;
                padding: 0;

                ul {
                    width: 80%; 
                }
            }

            .images {
                background: url('../images/hero/red-plan.svg') no-repeat center left;
                background-size: 700px auto;
                position: absolute;
                flex-direction: column;
                justify-content: center;
                left: calc(50% + 30px);
                height: 100%;
                width: unset;
                gap: 40px;
                margin-left: 0;
                align-items: left;

            
                img {
                    width: unset;
                    border-radius: 250px;
                    height: 164px;
                }

                & > img {
                    margin-left: 80px;
                    height: 284px;
                }
                .lower {
                    display: flex;
                    gap: 20px;
                }

            }
        }
    }
}
@media (max-width: 768px) {
    #hero .hero-container .hero-content ul {
        li:nth-child(2),
        li:nth-child(4),
        li:nth-child(5) {
            display: none;
        }
    }
}