#map {
    height: 400px;
}
#map-contents {
    display: flex;
    justify-content: center;
}
.map-container {
    max-width: var(--maxwidth);
    width: 100%;
    z-index: 4000;
    position: relative;
}
#map a {
    text-decoration: none;
    color: var(--red);
}
#map a:hover {
    text-decoration: underline;
}
.map-details {
    background-color: #fff;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .map-details {
        margin-bottom: 0;
        box-shadow: 1px 3px 7px 3px #00000029;
        border-radius: 8px;
        padding: 10px 20px 20px 20px;
        position: absolute;
        margin-top: -330px;
        max-width: 400px;
        right: 83px;
    }
}