#profile {
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-container {
        max-width: var(--maxwidth);
        background-color: #F5F5F5;
        padding: 30px;
        .body {
            img {
                border: 6px solid var(--red);
                background-color: #fff;
                border-radius: 30px;
                padding: 10px;
                width: 250px;
                max-height: 300px;
                object-fit: cover;
                margin: 20px 0;
                flex: 1;
            }

            h3 {
                border-bottom: 6px solid var(--red);
                padding-bottom: 16px;
            }
            p {
                padding: 16px 0;
            }
            .profile-details {
                flex: 10
            }
        }
        
    }
}

@media (min-width: 768px) {
    #profile {
        .profile-container {
            margin: 0 20px;
            border-radius: 30px;
            padding: 60px;

            .body {
                display: flex;
                flex-direction: column;
                flex: 30% 60%;
                gap: 30px;

                img {
                    
                    width: 100%;
                }

            }
        }
    }

}
@media (min-width: 1200px) {
    #profile {
        .profile-container {
            .body {
                flex-direction: row;
                gap: 60px;

                img {
                    max-height: unset;
                    width: 542px;
                }

            }
        }
    }
}