@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap');
:root {
    --red: #FF2400;
    --black: #4F4C4C;
    --maxwidth: 1280px;

    --bp-sm: 480px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;
}
body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    /* background-color: var(--red); */
}
.header--container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    max-width: var(--maxwidth);
    margin: auto;
}
.header--container nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    position: absolute;
    height: 100%;
    top: 62px;
    background: #fff;
}
.header--container nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-size: 1.2rem;
    text-align: center;
    padding: 20px 0;
}
#mobileMenu {
    width: 60px;
    height: 60px;
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
}