
:root {
    --red: #E01F00;
    --black: #4F4C4C;
    --grey: #2C2C2C;
    --maxwidth: 1400px;
    --gradient: linear-gradient(0deg, #FF2400, #fa3a1c);
    --gradienthover: linear-gradient(0deg, #f6492e, #f78574);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Source Sans 3", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.45;
    margin: 0;
    color: #686161;
}
h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2.6rem;
    line-height: 3.1rem;

    span {
        color: var(--red);
    }  
}
h2, h3, h4 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #484242;
}
h2 {
    font-size: 1.4em;
    line-height: 1.2em;
    span {
        color: var(--red);
    }
}
h3 {
    font-size: 1em;
}

.btn {
    font-weight: 400;
    background: var(--gradient);
    color: #fff;
    font-size: 1em;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    text-align: center; 
    border-radius: 40px;
    width: 100%;
    font-size: 1.25rem;
    border: none;
}
@media (min-width: 768px) {
    .btn {
        width: intrinsic;
    }
    .btn:hover {
        background: linear-gradient(0deg, #fff, #fff);
        color: var(--red);
    }
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 2.35rem;
    }
    h2 {
        font-size: 2.3rem;
    }
}

.cookie-container main {
    box-sizing: border-box;
    color: var(--black);
    padding: 0 20px;

    h1 {
        font-size: 2rem;
        border-bottom: 3px solid var(--red);
        padding-bottom: 6px;
    }
    h2 {
        font-size: 1.3rem;
    }
}
@media (min-width: 768px) {
    .cookie-container {

        #page-container {
            position: relative;
            min-height: calc(100vh - 87px);
        }
        main {
            max-width: var(--maxwidth);
            margin: auto;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: calc(100% - 40px);
        }
    }
}

.animate {
    background-color: red !important;
}