
:root {
    --red: #E01F00;
    --black: #4F4C4C;
    --grey: #2C2C2C;
    --maxwidth: 1400px;
    --gradient: linear-gradient(0deg, #FF2400, #fa3a1c);
    --gradienthover: linear-gradient(0deg, #f6492e, #f78574);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Source Sans 3", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    line-height: 1.65;
    margin: 0;
    color: #686161;
}
h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.9rem;
}
h2, h3, h4 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #484242;
}
h2 {
    font-size: 1.6em;
    span {
        color: var(--red);
    }
}
h3 {
    font-size: 1em;
}
/* p {
    line-height: 1.4;
} */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 2.35rem;
    }
    h2 {
        font-size: 2.3rem;
    }
}

.section-introduction {
    border-left: 8px solid var(--red);
    padding-left: 12px;
    margin-bottom: 20px;
}
.section-introduction sub {
    font-size: 0.8em;
    margin: 0;
}
.section-introduction h2 {
    margin: 4px 0;
}
.section-introduction.no-border {
    border-left-width: 0px;
    padding-left: 0;
}

.cookie-container main {
    box-sizing: border-box;
    color: var(--black);
    padding: 0 20px;

    h1 {
        font-size: 2rem;
        border-bottom: 3px solid var(--red);
        padding-bottom: 6px;
    }
    h2 {
        font-size: 1.3rem;
    }
}
@media (min-width: 768px) {
    .cookie-container {

        #page-container {
            position: relative;
            min-height: calc(100vh - 87px);
        }
        main {
            max-width: var(--maxwidth);
            margin: auto;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: calc(100% - 40px);
        }
    }
}

