#projects-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}
#projects {
    position: absolute;
    top: -60px;
}
.projects-container {
    max-width: var(--maxwidth);
}
@media (min-width: 768px) {
    .project-info {
        display: grid;
        grid-template-columns: 300px auto;
        align-items: center;
    }
    .project-info p {
        margin: 0;
    }
}